/*CUADROS DE MODULOS*/
body{
    background:white;
    margin: 0;
    padding-top: 5rem;
}
.container {
    width: 95%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#bottom {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    background-color: seagreen;
    padding: 20px;
    color: white;
}
.card-box {
    position: initial;
    color: #fff;
    padding: 5px 10px 10px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box .inner {
    padding: 2px 10px 0 3px;
}
.card-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}
.card-box .card-box-footer {
    position: inherit;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
    top: 90px;
}
.card-box .logo-modulo{
    align-items: center;
    height: 70px;
    padding-right: 10px;
    margin:10px auto;
    display:block;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #CA84F5 !important;
}
.bg-green {
    background-color: #906FFC !important;
}
.bg-orange {
    background-color: #7082E6 !important;
}
.bg-red {
    background-color: #6FB9FC !important;
}
.bg-cyan {
    background-color: #4BB0E6 !important;
}
.bg-darkpink {
    background-color: #F5786E !important;
}
.bg-deeppurple {
    background-color: #A556E6 !important;
}
.bg-yellow {
    background-color: #D85CE6 !important;
}
@media (max-width: 700px) {
    .container {
        padding-top: 3rem;
    }
}
/*PIE DE PAGINA*/
footer{
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    display: flex;
    min-height: 50px;
    background-color: seagreen;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

/*CABECERA*/
header{
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    min-height: 70px;
    background-color: seagreen;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logoP{
    display: flex;
    align-items: center;
}
.logoS{
    display: flex;
    align-items: center;
}
.logo-prin{
    height: 50px;
    margin-right: 10px;
}
.logo-sesion{
    height: 40px;
    padding-right: 10px;
}
.logo-nombre{
    color: white;
    font-size: 20px;
}
.user{
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-right: 95px;
    padding: 0;
}
@media (max-width:700px){
    header{
        flex-direction: var;
    }
}

/*MENU DE SESION*/
.menu{
    position: absolute;
    background-color: white;
    padding: 5px;
    top: 17%;
    left: 95%;
    transform: translate(-50%, -5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 40px;
}
.flecha{
    background-color: #009933;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0px;
    transform: rotate(90deg);
    transition: .5s;
}
.flecha i{
    color: white;
    font-size: 14px;
}
.perfil i{
    color: white;
    font-size: 14px;
}
.salir i{
    color: white;
    font-size: 14px;
}
.perfil {
    color: transparent;
    background-color: #009900;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
    transition: .5s;
}
.salir{
    color: transparent;
    background-color: #00b300;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
    transition: .5s;
}
.menu:hover > .flecha{
    background-color: #4BB0E6;
    transform: rotate(0deg);
}
.menu:hover > .perfil{
    width: 30px;
    height: 30px;
    color: white;
}
.menu:hover > .salir{
    width: 30px;
    height: 30px;
    color: white;
}
.menu:hover > .center_content{
    padding-top: 10rem;
}
.perfil:hover{
    background-color: deepskyblue;
}
.salir:hover{
    background-color: deepskyblue;
}

.ui-inputgroup-addon {
    background-color: #2494f4 !important;
    color: #eff9fc !important;
    height: 40px !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    
}